@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Bine ați venit la  <span style="color: crimson;">JACQUES </span>Gourmand Restaurant</h1><br />
    <p>
        <span style=" font-size:20px; color:crimson;">ÎȚI PROPUNEM O CĂLĂTORIE GASTRONOMICĂ.</span><br /><br />Vei străbate peisajul ingredientelor de origine românească prin intermediul preparatelor internaţionale mereu proaspete şi gătite cu pasiune.
        <br />
        De-a lungul traseului marcat de un meniu variat şi surprinzător, dorului de origini româneşti îi vor răspunde farfurii pline de vitalitate urbană,<br /> ce se ridică la standarde internaţionale.
    </p>
    <img src="~/images/slide.jpg" style="width:100%; margin:0;" /><br /><br />
    <p>
        <span style="color:crimson; font-size:20px;">JACQUES</span> este mai mult decât un restaurant, e un concept creat pe câteva coordonate: ingrediente de calitate, locale, zonale, pe cât se poate ecologice, furnizori de încredere și multă pasiune. Elementele naturale, terasa verde, confortabilă şi ambianţa relaxată, mixate cu elemente urban-minimaliste, sunt detaliile rafinate ale unui spaţiu prietenos. Personalul atent şi profesionist, pasiunea pentru detalii şi preparatele impresionante întregesc un spaţiu în care ţi se face dor să revii.
        <br><br />
        <span style="color: crimson; font-size: 20px;">JACQUES</span> este restaurantul din Cluj unde poveştile au gust, iar amintirile sunt de neuitat.
    </p>
</div>
